name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Start SUT
        run: java -jar ./artifacts/app-order.jar &
        continue-on-error: true

      - name: Wait for SUT to start
        run: sleep 10

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test

      - name: Publish Test Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-report
          path: build/reports/tests/